{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ error_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_message }}</div>
  </div>
</div>
{{ footer }}
