{#
    $Project$
    $Author$
    $Version$ ($Revision$)
#}

{% macro sort_url(column_name, sort, order, context) %}
	{% if (sort == column_name) %} 
		href="{{ context['sort_' ~ column_name] }}" class="{{ order|lower }}"
	{% else %} 
		href="{{ context['sort_' ~ column_name] }}"
	{% endif %}
{% endmacro %}

{% macro button_add(href) %}
	<a href="{{ href }}" data-bs-toggle="tooltip" title="{{ t('button_add') }}" class="btn l-button-add btn-primary"><i class="fas fa-plus"></i></a>
{% endmacro %}

{% macro button_delete(action, form) %}
	<button type="submit" formaction="{{ action }}" form="{{ form }}" data-bs-toggle="tooltip" title="{{ button_delete }}" {% if confirm %}onclick="return confirm('{{ text_confirm }}');" {% endif %} class="btn l-button-delete btn-danger"><i class="fas fa-trash-alt"></i></button>
{% endmacro %}	

{% macro button_save(action, form) %}
	<button type="submit" formaction="{{ action }}" form="{{ form }}" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn l-button-save btn-primary"><i class="fas fa-save"></i></button>
{% endmacro %}

{% macro button_back(href) %}
	<a href="{{ href }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn l-button-back btn-light"><i class="fas fa-reply"></i></a>
{% endmacro %}

{% macro button_filter(formid) %}
	<button type="button" form="{{ formid }}" class="btn l-button-filter btn-primary"><i class="fas fa-filter"></i> {{ t('button_filter') }}</button>
{% endmacro %}

{% 	macro button_reset(formid) %}
	<button type="button" onclick="javascript: ka_extensions.resetForm('{{ formid }}');" class="btn l-button-reset btn-default"><i class="fas fa-eraser"></i> {{ t('Reset Filter') }}</button>
{% endmacro %}

{#
	General buttons without titles 
#}

{% macro button_submit(action, form, title, icon, type = 'primary') %}
	<button type="submit" formaction="{{ action }}" form="{{ form }}" data-bs-toggle="tooltip" title="{{ title }}" class="btn l-button-submit btn-{{ type }}">{% if icon %}<i class="fas {{ icon }}"></i>{% endif %} {% if title %}{{ title }}{% endif %}</button>
{% endmacro %}

{% macro button_js(js, title, icon, type = 'primary') %}
	<button type="submit" {{ js }} data-bs-toggle="tooltip" title="{{ title }}" class="btn l-button-submit btn-{{ type }}">{% if icon %}<i class="fas {{ icon }}"></i>{% endif %} {% if title %}{{ title }}{% endif %}</button>
{% endmacro %}