<div class="notice-module {{ journal3.classes(classes) }}" data-options='{{ options|json_encode }}'>
  <button aria-label="Edit" class="admin-edit" type="button" data-edit="{{ edit }}"><em class="fa fa-pencil" data-placement="auto" data-toggle="tooltip-hover" data-tooltip-class="admin-edit-tooltip" title="Edit {{ name }}"></em></button>
  <div class="module-body">
    <div class="hn-body">
      <div class="hn-content">
        {{ content }}
        {% if contentType == 'text' and ctaButton %}
          <a class="btn header-notice-cta" href="{{ ctaButtonLink.href }}" {{ journal3.linkAttrs(ctaButtonLink) }}><span class="btn-text">{{ ctaButtonText }}</span></a>
        {% endif %}
      </div>
    </div>
    {% if closeButton %}
      <div class="header-notice-close-button">
        {% if closeLink.href %}
          <a class="btn hn-close" href="{{ closeLink.href ? closeLink.href : 'javascript:;' }}" {{ journal3.linkAttrs(closeLink) }} title="{{ closeText ? closeText : 'Close' }}">
            {% if closeText %}
              <span class="btn-text">{{ closeText }}</span>
            {% endif %}
          </a>
        {% else %}
          <button class="btn hn-close" aria-label="{{ closeText ? closeText : 'Close' }}">
            {% if closeText %}
              <span class="btn-text">{{ closeText }}</span>
            {% endif %}
          </button>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
