{% macro renderMarquee(context, item) %}
  {% set journal3 = context.journal3 %}
  {% if item.link.href %}
    <a href="{{ item.link.href }}" class="{{ journal3.classes(item.classes) }}" {{ journal3.linkAttrs(item.link) }}>
      <span>
        {{ item.title }}
      </span>
    </a>
  {% else %}
    <div class="{{ journal3.classes(item.classes) }}">
        <span>
          {{ item.title }}
        </span>
      </div>
  {% endif %}
{% endmacro %}
{% if items %}
  <div class="{{ journal3.classes(classes) }}">
    <button aria-label="Edit" class="admin-edit" type="button" data-edit="{{ edit }}"><em class="fa fa-pencil" data-placement="auto" data-toggle="tooltip-hover" data-tooltip-class="admin-edit-tooltip" title="Edit {{ name }}"></em></button>
    <div class="module-body">
      <div class="marquee-slider">
        <div class="marquee-items marquee-items-1">
          {% for i in 1..max(1, repeat) %}
            {% for item in items %}
              {{ _self.renderMarquee(_context, item) }}
            {% endfor %}
          {% endfor %}
        </div>
        <div class="marquee-items marquee-items-2" aria-hidden="true">
          {% for i in 1..max(1, repeat) %}
            {% for item in items %}
              {{ _self.renderMarquee(_context, item) }}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}


