<form class="form-horizontal" id="form-review">
  <div id="review"></div>
  <h4>{{ text_write }}</h4>
  {% if review_status %}
  {% if review_guest %}
    <div class="form-group required">
      <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
      <div class="col-sm-10">
        <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
      </div>
    </div>
    <div class="form-group required">
      <label class="col-sm-2 control-label" for="input-review">{{ entry_review }}</label>
      <div class="col-sm-10">
        <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
        <div class="help-block">{{ text_note }}</div>
      </div>
    </div>
    <fieldset>
      <legend class="sr-only">{{ entry_rating }}</legend>
      <div class="form-group required">
        <label class="col-sm-2 control-label">{{ entry_rating }}</label>

        <div class="col-sm-10 rate">
          <span>{{ entry_bad }}</span>
          <input type="radio" name="rating" value="1" aria-label="1" title="1"/>

          <input type="radio" name="rating" value="2" aria-label="2" title="2"/>

          <input type="radio" name="rating" value="3" aria-label="3" title="3"/>

          <input type="radio" name="rating" value="4" aria-label="4" title="4"/>

          <input type="radio" name="rating" value="5" aria-label="5" title="5"/>
          <span>{{ entry_good }}</span>
        </div>
      </div>
    </fieldset>
    {{ captcha }}
    <div class="buttons clearfix">
      <div class="pull-right">
        <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
      </div>
    </div>
  {% else %}
    {{ text_login }}
  {% endif %}
  {% endif %}
</form>
