		    <div class="alert alert-info">
					<table>
						<tr>
							<td><b>Ka Extensions Version</b>: {{ extension_version }}&nbsp;&nbsp;&nbsp;</td>
							<td><b>{{ t('Author') }}</b>: <a href="https://www.ka-station.com" target="_blank">karapuz team</a>&nbsp;&nbsp;&nbsp;</td>
							<td><b>{{ t('Contact Us') }}</b>: &nbsp;&nbsp;&nbsp;
								<a href="mailto:support@ka-station.com"><i class="fas fa-envelope"></i> {{ t('E-mail') }}</a>&nbsp; | 
								&nbsp;<a href="https://www.ka-station.com/tickets/" target="_blank"><i class="fas fa-pencil-alt"></i> {{ t('Help Desk') }}</a>
							</td>
						</tr>
					</table>
		    </div>
